.body{
    display: grid;
    width: 100%;
}
.card {
    border: 1px blue solid;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    order: 2;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 20px;
}

.body{
    display: flex;
    flex-direction: row;
    columns: 3;
    justify-content: space-between;
}


// #actions {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     // flex-flow: column;
//     // flex: 1 2 auto;
// }